<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (User.Identity.IsAuthenticated == false)
    {
        
        <meta http-equiv="Refresh" content="0; url=https://dev-8hbk7y27.auth0.com/login?state=g6Fo2SBIeUNGN05uQWN0MWE3MmtiUjUwZVNZZ3pEVld3Z0xreKN0aWTZIGJwVS1DNHBZeUpMTjhGOW9sT0MweUp5QmtTc0ktQ3JHo2NpZNkgV1pPRVpWdUNUZEtiMEFGN2FGeVFJNnVVeDg4ZzFFOTA&client=WZOEZVuCTdKb0AF7aFyQI6uUx88g1E90&protocol=oauth2&redirect_uri=https%3A%2F%2Flocalhost%3A44325%2Fcallback&response_type=code&scope=openid&code_challenge=hDhH0JZue7jHAl41kYN6VRAJJVZ3zSKB99pfO23NWhA&code_challenge_method=S256&response_mode=form_post&nonce=637119620490860337.Y2JlNzNmMGMtZjc0Zi00OGEwLWEwODQtNzNhNWU1Yjc3NjcxYTZlYWRhZjUtM2E5MC00NzU4LTg4NGMtMDI1YTdkYWI4N2E2&x-client-SKU=ID_NETSTANDARD2_0&x-client-ver=5.5.0.0">
    }

</head>
<body>

            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bugz B Gone</a>
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav px-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a id="qsLogoutBtn" class="nav-link text-white" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id="qsLoginBtn" class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                        <div class="sidebar-sticky">
                            <ul class="nav flex-column">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Dashboard</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Dashboard</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    This week
                                </button>
                            </div>
                        </div>

                    </main>

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                            @RenderBody()
                        </div>
                    </main>
                        

                </div>
            </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
