
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome to Bugz B Gone</h1>
        <p> Bugz B Gone is a very simple but efficient ticket tracking system. It purpose is to keep accurate detailed accounts of bugs in your software!</p>
    </div>
 