@model BugTracker.Models.Projects

@{
    ViewData["Title"] = "Edit";
}

<div>
    <h1>Edit</h1>

    <h4>Projects</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="projectName" class="control-label"></label>
                    <input asp-for="projectName" class="form-control" />
                    <span asp-validation-for="projectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="devName" class="control-label"></label>
                    <input asp-for="devName" class="form-control" />
                    <span asp-validation-for="devName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="comments" class="control-label"></label>
                    <input asp-for="comments" class="form-control" />
                    <span asp-validation-for="comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="status" class="control-label"></label>
                    <input asp-for="status" class="form-control" />
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
